.buttoncss{
	cursor: pointer;
	padding: 15px 30px;
	background:black;
	color:white;
	border:none;
}
.buttoncss:hover{
	background-color: rgba(220, 226, 227,0.5);
	color: black;
	border:none;
}
.google-sign-in{
	background-color: blue;
	border:none;
}
.inverted{
	background: white;
	color:black;
	margin-top: 252px;
	margin-left: 29px;
	opacity: 0.7;
	display: none;
}
.inverted:hover{
	background: black !important;
	color:white;
	opacity: 0.7;

}