.divbag{
	display: flex;
	flex-direction: row;
}
.bagcss{
	height: 100%;
	position: relative;
	top: -15px;
	cursor: pointer;
}
.count-item{
	position:relative;
	top:-10px;
	left:-30px;
	font-size: 30px; 
	width:25%;
}
