.checkout{
	height: 90%;
	width:60%;
	margin-left:150px;
	margin-top:100px;	
	padding: 20px;
}
.headblock{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.product,.desc,.quant,.pri,.remove{
	width: 20%;
	text-align: center;
}
.totalcss{
	display: flex;
	width: 100%;
	font-size: 40px;
	justify-content: flex-end;
}
.demodesc{
	width: 100%;
	margin:10px auto;
	font-size: 20px; 
}
.stripebutcss{
	width: 100%;
	display: flex;
	width: 100%;
	font-size: 40px;
	justify-content: flex-end;
}